h1, h2, h3, p {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    color: khaki;
    text-align: center;
    background-image: url("../img/pattern.jpg");
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: white;
}

span {
    font-weight: 900;
    color: blue;
}

.brush h2 {
    background-color: mediumspringgreen;
}

.frame h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}